In [3]:
import os
import pandas as pd
import numpy as np

os.chdir('..') # change working directory to 1 level up

In [4]:
sample_df = pd.read_csv('sample_submission.csv', encoding='utf-8')

In [5]:
sample_df.head()

                                     Id  Predicted
0  00008af0-bad0-11e8-b2b8-ac1f6b6435d0          0
1  0000a892-bacf-11e8-b2b8-ac1f6b6435d0          0
2  0006faa6-bac7-11e8-b2b7-ac1f6b6435d0          0
3  0008baca-bad7-11e8-b2b9-ac1f6b6435d0          0
4  000cce7e-bad4-11e8-b2b8-ac1f6b6435d0          0

In [9]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11702 entries, 0 to 11701
Data columns (total 2 columns):
Id           11702 non-null object
Predicted    11702 non-null int64
dtypes: int64(1), object(1)
memory usage: 182.9+ KB

In [6]:
output_df = pd.read_csv('gordon_2019-01-04___07:55:14_predict.csv', encoding='utf-8')

In [8]:
output_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11702 entries, 0 to 11701
Data columns (total 2 columns):
Id           11702 non-null object
Predicted    7436 non-null object
dtypes: object(2)
memory usage: 182.9+ KB

In [11]:
output_df = output_df.replace(np.nan, '', regex=True)

In [12]:
output_df.head()

                                     Id Predicted
0  4c8811d0-bac7-11e8-b2b7-ac1f6b6435d0      0 25
1  082ee970-bacf-11e8-b2b8-ac1f6b6435d0        21
2  7b0bbd70-bac9-11e8-b2b8-ac1f6b6435d0
3  de5f9d38-bace-11e8-b2b8-ac1f6b6435d0        25
4  5b685d12-bad2-11e8-b2b8-ac1f6b6435d0        25

In [15]:
new_df = sample_df.merge(output_df, left_on='Id', right_on='Id', how='outer')

In [17]:
new_df = new_df.loc[:, ['Id', 'Predicted_y']]

In [20]:
new_df.columns = ['Id','Predicted']

In [22]:
new_df.to_csv('gordon_2019-01-04___07:55:14_predict_sorted.csv', index=False, encoding='utf-8')

In [27]:
filename = 'test.csv'

list_parts = filename.split('.'); list_parts[0] = list_parts[0] +'_sorted'
new_filename = '.'.join(list_parts)